.formdiv {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 50vh;
  margin: 5rem auto;
}

.formdiv h2 {
  text-align: center;
}

.formgroup {
  margin-bottom: 15px;
}

.formgroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.formgroup input {
  width: 93%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit_btn {
  width: 100%;
  background-color: rgba(240, 46, 170, 0.8);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.submit_btn:hover {
  background-color: white;
  color: rgba(240, 46, 170, 0.8);
  border: 1px solid rgba(240, 46, 170, 0.8);
  transition: all 0.5s;
}

table {
  border: 1px solid black;
  background-color: white;
  margin: 2rem auto;
  text-align: center;
  border-radius: 1vh;
  padding: 2vh;
}

td {
  padding: 5px;
  min-width: 25px;
}